* {box-sizing: border-box}
/* Поля ввода полной ширины */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Добавить цвет фона, когда входы получают фокус */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для всех кнопок */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Дополнительные стили для кнопки "Отмена" */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Поплавок очистить и кнопки регистрации и добавить равную ширину */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Добавить отступы к элементам контейнера */
.container {
  padding: 16px;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полный высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Модальное Содержание/Бокс */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Стиль горизонтальной линейки */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* кнопка закрытия (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Снимите поплавки */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Измените стили для кнопки отмены и кнопки регистрации на дополнительных маленьких экранах */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.Global {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.GHeader {
  background-color: #00bfff;
  color: white;
  height: 50px;
  text-align: center
}
.GSidebar {
  background-color: #1100ff;
  color: white;
  width: 10%;
  height: 50px;
  float: left;
  border-radius: 10px;
  padding: 5px;
}
.GProfile {
  background-color: #1100ff;
  color: white;
  width: 10%;
  height: 50px;
  float: right;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
.GContent {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.GEvent-block {
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  width: calc(100% / 3 - 10px);
}
.GEvent-block img {
  width: 100%; 
  height: 400px; 
  object-fit: cover;
}
.GEvent-container {
  display: flex;
  flex-wrap: wrap; 
}
.PReturn-button {
  background-color: #1100ff;
  color: white;
  width: 10%;
  height: 50px;
  float: left;
  border-radius: 10px;
  padding: 5px;
}
.PProfile-container {
  display: flex;
  border-radius: 10px;
  margin: 20px;
}
.Profile {
  display: flex;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.PProfile-info {
  display: flex;
  align-items: center;
}
.PProfile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.PUser-info {
  margin-top: 30px;
  background-color: #f2f2f2;
}
.PProfile-details {
  display: flex;
  position: absolute;
  left: 40%;
}
.PSection {
  margin-right: 10%;
  text-align: left;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
}
.PAdditional-block {
  position: absolute;
  background-color: #f2f2f2;
  padding: 50%;
  border-radius: 10px;
  margin-top: 5%;
  top: 90%;
}
.PContent {
  display: none;
}


